.int-sec {
    height: 850px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../img/fond/Fond\ -\ MayGarden.png");
    .cnt-sec, 
    .cnt-sec-two {
        color: $grey;
        @extend %title;
    }
    .cnt-sec {
        position: relative;
        margin: 5% 0% 0% 0%;
        h1 {
            font-size: 60px;
            @media screen and (max-width: $layout-breakpoints-xxs) {
                font-size: 35px;
            }
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            padding: 11% 0% 0% 0%;
        }
    }
    .cnt-sec-two {
        text-align: end;
        margin: 45% 0% 0% 0%;
        h2 {
            font-size: 60px;
            @media screen and (max-width: $layout-breakpoints-xxs) {
                font-size: 35px;
            }
        }
        @media screen and (max-width: $layout-breakpoints-xsm) {
            padding: 23% 0% 0% 0%;
        }
        @media screen and (max-width: $layout-breakpoints-sm) {
            margin: 63% 0% 0% 0%;
        }
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        height: 480px;
    }
}