@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header ul li a {
  font-size: 12px;
  color: #EFE4CB;
  font-weight: 600;
  letter-spacing: 0.9px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif;
}
header ul li a i {
  color: #D08C60;
}

header .cnx-shop a {
  font-size: 12px;
  color: #EFE4CB;
  font-weight: 600;
  letter-spacing: 0.9px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif;
}
header .cnx-shop a .icon-user {
  color: #D08C60;
}
header .cnx-shop a .icon-shop {
  color: #C59F7B;
}

footer .nav ul li a, footer a {
  font-size: 10px;
  color: #EFE4CB;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
}

header ul .dropdown .dropdown-menu .dropdown-submenu > .dropdown-menu li a, header ul .dropdown .dropdown-menu .dropdown-submenu a {
  font-size: 9.3px;
  color: #EFE4CB;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif;
}
header ul .dropdown .dropdown-menu .dropdown-submenu > .dropdown-menu li a i, header ul .dropdown .dropdown-menu .dropdown-submenu a i {
  color: #D08C60;
}

.int-sec .cnt-sec,
.int-sec .cnt-sec-two, section h2,
section h3,
section h4,
section h5, .documents .intro-doc h1 {
  font-weight: 600;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  font-family: "Antic Didone", serif;
}

footer .contact h4,
footer .contact h5,
footer .contact h6, footer h4,
footer h5,
footer h6 {
  font-size: 13px;
  font-weight: 600;
  color: #D08C60;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  font-family: "Antic Didone", serif;
}

.documents .intro-doc .txt-intro p {
  color: #2D2D2D;
  font-weight: 600;
  font-size: 13px;
  text-align: justify;
  font-family: "Nunito Sans", sans-serif;
}
.documents .intro-doc .txt-intro p a,
.documents .intro-doc .txt-intro p strong {
  color: #D08C60;
  font-weight: 900;
}
.documents .intro-doc .txt-intro p a:hover, .documents .intro-doc .txt-intro p a:active,
.documents .intro-doc .txt-intro p strong:hover,
.documents .intro-doc .txt-intro p strong:active {
  color: #D08C60;
}

section p {
  font-weight: 300;
  text-align: justify;
  font-family: "Nunito Sans", sans-serif;
}

footer .copyright .copy, footer .news .form input::placeholder, footer .news .form input, footer .news p, footer .contact p, footer p,
footer .holiday {
  color: #EFE4CB;
  font-weight: 300;
  font-size: 10px;
  text-align: justify;
  font-family: "Nunito Sans", sans-serif;
}

footer .news .form .btn {
  width: 100%;
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
  color: #EFE4CB;
  text-align: center;
  border-radius: 0px;
  transition: all 0.5s;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: 0.5px solid #D08C60;
  background-color: transparent;
  font-family: "Antic Didone", serif;
}
footer .news .form .btn span {
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  display: inline-block;
  letter-spacing: 3px;
  font-family: "Antic Didone", serif;
}
footer .news .form .btn span::after {
  top: 0;
  opacity: 0;
  right: -20px;
  content: "»";
  transition: 0.5s;
  position: absolute;
}
footer .news .form .btn:hover {
  border: 0.5px solid #C59F7B;
  background: #C59F7B;
}
footer .news .form .btn:hover span {
  padding-right: 25px;
}
footer .news .form .btn:hover span:after {
  opacity: 1;
  right: 0;
}

.spa .btn {
  padding: 15px;
  font-size: 13px;
  cursor: pointer;
  color: #C59F7B;
  text-align: center;
  border-radius: 0px;
  transition: all 0.5s;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: 2px solid #D08C60;
  background-color: transparent;
  font-family: "Antic Didone", serif;
}
.spa .btn span {
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  display: inline-block;
  letter-spacing: 3px;
  font-family: "Antic Didone", serif;
}
.spa .btn span::after {
  top: 0;
  opacity: 0;
  right: -20px;
  content: "»";
  transition: 0.5s;
  position: absolute;
}
.spa .btn:hover {
  border: 0.5px solid #C59F7B;
  background: #C59F7B;
}
.spa .btn:hover span {
  color: #EFE4CB;
  padding-right: 25px;
}
.spa .btn:hover span:after {
  opacity: 1;
  right: 0;
}

.pres-boutique .cnt-boutique .btn {
  padding: 15px;
  font-size: 13px;
  cursor: pointer;
  color: #E4E4E4;
  text-align: center;
  border-radius: 0px;
  transition: all 0.5s;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: 2px solid #E4E4E4;
  background-color: transparent;
  font-family: "Antic Didone", serif;
}
.pres-boutique .cnt-boutique .btn span {
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  display: inline-block;
  letter-spacing: 3px;
  font-family: "Antic Didone", serif;
}
.pres-boutique .cnt-boutique .btn span::after {
  top: 0;
  opacity: 0;
  right: -20px;
  content: "»";
  transition: 0.5s;
  position: absolute;
}
.pres-boutique .cnt-boutique .btn:hover {
  border: 0.5px solid #EFE4CB;
  background: #EFE4CB;
}
.pres-boutique .cnt-boutique .btn:hover span {
  color: #2D2926;
  padding-right: 25px;
}
.pres-boutique .cnt-boutique .btn:hover span:after {
  opacity: 1;
  right: 0;
}

.documents .cnt-doc .accordion-item .accordion-header .accordion-button {
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif;
}

.documents .cnt-doc .accordion-item .accordion-body p,
.documents .cnt-doc .accordion-item .accordion-body span {
  font-size: 13.5px;
  color: #2D2D2D;
  font-weight: 300;
  text-align: justify;
  font-family: "Nunito Sans", sans-serif;
}

header {
  transition: top 0.3s;
  padding: 10px 0px 10px 0px;
  background-color: #2D2926;
}
header .logo img {
  width: 88px;
}
@media screen and (max-width: 320px) {
  header .logo img {
    width: 65px !important;
  }
}
header .icon-menu {
  display: none;
}
@media screen and (max-width: 480px) {
  header .icon-menu {
    margin-top: -21% !important;
    font-size: 35px !important;
  }
}
@media screen and (max-width: 480px) {
  header .icon-menu {
    margin-top: -22%;
  }
}
@media screen and (max-width: 1024px) {
  header .icon-menu {
    color: #E4E4E4;
    font-size: 50px;
    display: block !important;
    float: right !important;
  }
}
header .closebtn {
  display: none;
}
@media screen and (max-width: 480px) {
  header .closebtn {
    top: 13px !important;
    right: 26px !important;
    font-size: 26px !important;
  }
}
@media screen and (max-width: 1024px) {
  header .closebtn {
    top: 20px;
    right: 60px;
    font-size: 35px;
    position: absolute;
    display: block !important;
  }
  header .closebtn i {
    color: #D08C60;
  }
}
header ul {
  display: flex;
}
header ul li {
  margin-right: 10px;
}
header ul li a:hover, header ul li a:focus {
  color: #D08C60;
  cursor: pointer;
  transition: 0.2s;
  padding: 5px 0px 5px 0px;
  border-top: 1px double #C59F7B;
  border-bottom: 1px double #C59F7B;
}
header ul .dropdown:hover > .dropdown-menu {
  display: block;
}
header ul .dropdown .dropdown-menu {
  border: none;
  background-color: #2D2926;
  min-width: 6.6rem !important;
}
header ul .dropdown .dropdown-menu .dropdown-submenu {
  text-align: center;
  position: relative;
}
header ul .dropdown .dropdown-menu .dropdown-submenu a:hover, header ul .dropdown .dropdown-menu .dropdown-submenu a:focus {
  cursor: pointer;
  border-top: none;
  border-bottom: none;
}
header ul .dropdown .dropdown-menu .dropdown-submenu:hover, header ul .dropdown .dropdown-menu .dropdown-submenu:focus {
  cursor: pointer;
  border-left: 1px solid #C59F7B;
}
header ul .dropdown .dropdown-menu .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  border: none;
  border-radius: 0px;
  min-width: 13.3rem !important;
  margin-top: -8px;
}
header ul .dropdown .dropdown-menu .dropdown-submenu > .dropdown-menu li {
  text-align: center;
}
header ul .dropdown .dropdown-menu .dropdown-submenu > .dropdown-menu li:hover, header ul .dropdown .dropdown-menu .dropdown-submenu > .dropdown-menu li:focus {
  cursor: pointer;
  border-left: 1px solid #C59F7B;
}
header ul .dropdown .dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
header .cnt-nav,
header .cnx-shop {
  padding: 26px 0px 26px 0px;
}
@media screen and (max-width: 780px) {
  header .cnx-shop {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  header .cnx-shop {
    display: none;
  }
}
header .hr-drop {
  display: none;
}
header .menu-aide,
header .drop-res,
header .reseaux,
header .members,
header .copyright-menu {
  display: none;
}
@media screen and (max-width: 480px) {
  header .nav-cnt ul li {
    padding-left: 20px !important;
  }
  header .nav-cnt ul li .a-aide,
header .nav-cnt ul li .a-link,
header .nav-cnt ul li .link-dark.rounded {
    font-size: 9px !important;
  }
  header .nav-cnt ul .drop-res .btn-a {
    font-size: 9px !important;
  }
  header .nav-cnt #drop-res #btn-a {
    font-size: 9px !important;
  }
  header .nav-cnt .reseaux,
header .nav-cnt .copyright-menu {
    padding-left: 20px !important;
  }
  header .nav-cnt .menu-aide .title-menu {
    padding: 5px 0px 5px 20px !important;
  }
  header .nav-cnt .menu-aide .title-menu h5 {
    font-size: 12px !important;
  }
  header .nav-cnt .members .title-menu {
    margin-bottom: 0% !important;
    padding: 5px 0px 5px 20px !important;
  }
  header .nav-cnt .members .title-menu h5 {
    font-size: 12px !important;
  }
  header .nav-cnt .members ul li a {
    font-size: 9px !important;
  }
  header .nav-cnt .cnt-nav {
    top: 0% !important;
  }
  header .nav-cnt .reseaux .title-menu {
    margin-bottom: 7% !important;
  }
  header .nav-cnt .reseaux .title-menu h5 {
    font-size: 12px !important;
  }
  header .nav-cnt .reseaux .images,
header .nav-cnt .reseaux .images-2 {
    display: flex;
  }
  header .nav-cnt .reseaux .images .col-md-4,
header .nav-cnt .reseaux .images-2 .col-md-4 {
    width: 33.33%;
  }
  header .nav-cnt .reseaux .images .col-md-4 img,
header .nav-cnt .reseaux .images-2 .col-md-4 img {
    width: 100%;
  }
  header .nav-cnt .copyright-menu h6 {
    font-size: 8px !important;
    line-height: 17px !important;
  }
}
@media screen and (max-width: 780px) {
  header .nav-cnt ul li a,
header .nav-cnt ul .dropdown a {
    font-size: 13px !important;
  }
  header .nav-cnt ul .drop-res .btn-a {
    font-size: 13px !important;
  }
  header .nav-cnt ul .drop-res .icon-drop i {
    color: #D08C60;
  }
  header .nav-cnt ul .drop-res .menu-dropdown ul li a {
    font-size: 13px;
  }
  header .nav-cnt ul .drop-res .menu-dropdown ul .dropdown-divider {
    display: none;
  }
  header .nav-cnt ul .members .title-menu h5 {
    font-size: 15px;
  }
  header .nav-cnt ul .reseaux {
    margin: 5% 0% 0% 0%;
  }
  header .nav-cnt ul .reseaux .title-menu h5 {
    font-size: 15px;
  }
  header .nav-cnt ul .menu-aide {
    margin: 5% 0% 5% 0%;
  }
  header .nav-cnt ul .menu-aide .title-menu h5 {
    font-size: 15px;
  }
  header .nav-cnt ul .copyright-menu {
    padding: 0px 40px 0px 40px;
  }
  header .nav-cnt ul .copyright-menu h6 {
    font-size: 12px;
  }
}
@media screen and (max-width: 1024px) {
  header .nav-cnt {
    width: 0;
    left: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    position: fixed;
    transition: 0.3s;
    overflow-x: hidden;
    background-color: #2D2926;
  }
  header .nav-cnt .cnt-nav {
    top: 5%;
    width: 100%;
    margin-top: 35px;
    text-align: left;
    position: relative;
  }
  header .nav-cnt ul {
    display: block !important;
  }
  header .nav-cnt ul .dropdown-menu {
    position: initial !important;
  }
  header .nav-cnt ul li {
    margin-bottom: 15px;
    padding-left: 40px;
  }
  header .nav-cnt ul li a,
header .nav-cnt ul .dropdown a {
    font-size: 20px;
  }
  header .nav-cnt ul .drop-menu {
    display: none;
  }
  header .nav-cnt ul .drop-res {
    display: block;
  }
  header .nav-cnt ul .drop-res .btn-a {
    color: #EFE4CB;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0px 10px 0px;
    font-family: "Nunito Sans", sans-serif;
  }
  header .nav-cnt ul .drop-res .icon-drop i {
    color: #D08C60;
  }
  header .nav-cnt ul .drop-res .menu-dropdown {
    padding: 20px 0px 0px 20px;
  }
  header .nav-cnt ul .drop-res .menu-dropdown ul li a {
    font-size: 16px;
    color: #EFE4CB;
    font-weight: 600;
    letter-spacing: 0.9px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
  }
  header .nav-cnt .menu-aide,
header .nav-cnt .reseaux,
header .nav-cnt .members {
    display: block;
  }
  header .nav-cnt .members {
    margin: 3% 0% 5% 0%;
  }
  header .nav-cnt .members .title-menu {
    margin-bottom: 4%;
    padding-left: 40px;
  }
  header .nav-cnt .members .title-menu h5 {
    font-size: 19.6px;
    color: #C59F7B;
    font-weight: 600;
    letter-spacing: 4.6px;
    text-transform: uppercase;
    font-family: "Antic Didone", serif;
  }
  header .nav-cnt .reseaux {
    margin: 3% 0% 5% 0%;
    padding: 0px 56px 0px 40px;
  }
  header .nav-cnt .reseaux .title-menu {
    margin-bottom: 4%;
  }
  header .nav-cnt .reseaux .title-menu h5 {
    font-size: 19.6px;
    color: #C59F7B;
    font-weight: 600;
    letter-spacing: 4.6px;
    text-transform: uppercase;
    font-family: "Antic Didone", serif;
  }
  header .nav-cnt .reseaux img {
    width: 100%;
  }
  header .nav-cnt .menu-aide {
    margin: 5% 0% 5% 0%;
  }
  header .nav-cnt .menu-aide .title-menu {
    padding: 0px 0px 20px 40px;
  }
  header .nav-cnt .menu-aide .title-menu h5 {
    font-size: 19.6px;
    color: #C59F7B;
    font-weight: 600;
    letter-spacing: 4.6px;
    text-transform: uppercase;
    font-family: "Antic Didone", serif;
  }
  header .nav-cnt .copyright-menu {
    display: block;
    padding: 0px 0px 20px 40px;
  }
  header .nav-cnt .copyright-menu h6 {
    color: #C59F7B;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 4.6px;
    text-transform: uppercase;
    font-family: "Antic Didone", serif;
  }
}

footer {
  padding: 3rem 0 3rem 0;
  background-color: #2D2926;
}
footer .news p {
  text-align: justify;
  margin: 0px 0px 10px 0px;
}
footer .news .form input {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #C59F7B !important;
  background-color: transparent !important;
}
footer .news .form .btn {
  margin-top: 20px;
}
footer .hours .holiday {
  color: #C59F7B;
  font-weight: 800;
  font-size: 10px;
  text-align: justify;
  text-decoration: underline;
  font-family: "Nunito Sans", sans-serif;
}
footer .hours strong {
  color: #D08C60;
}
footer .separator {
  height: 1px;
  margin-bottom: 26px;
  background-color: #c59f7b7e;
}
footer .warning p {
  text-align: end;
}
footer .warning p i {
  color: #D08C60;
}
footer .reseaux a {
  margin-right: 10px;
}
footer .reseaux a i {
  color: #D08C60;
}
footer .copyright {
  text-align: end;
}
footer .copyright .copy {
  color: #C59F7B !important;
}
@media screen and (max-width: 480px) {
  footer .contact,
footer .news,
footer .hours {
    margin-bottom: 26px;
  }
  footer .nav {
    margin-bottom: 10px;
  }
  footer .warning p {
    text-align: left;
  }
  footer .copyright {
    text-align: left;
  }
}

.documents .intro-doc {
  padding: 5% 0 5% 0;
}
.documents .intro-doc h1 {
  font-size: 55px;
  text-align: center;
  color: #2D2D2D;
}
@media screen and (max-width: 480px) {
  .documents .intro-doc h1 {
    font-size: 35px;
  }
}
.documents .intro-doc .txt-intro {
  margin: 2% 0% 0% 0%;
}
.documents .intro-doc .txt-intro p {
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .documents .intro-doc {
    padding: 10% 0% 10% 0%;
  }
}
.documents .cnt-doc {
  padding: 0% 0% 5% 0%;
}
@media screen and (max-width: 480px) {
  .documents .cnt-doc {
    padding: 0% 0% 10% 0%;
  }
}
.documents .cnt-doc .accordion-item {
  border: 0.2px solid #c59f7b7e;
}
.documents .cnt-doc .accordion-item .accordion-header .accordion-button {
  font-size: 12px;
}
@media screen and (max-width: 480px) {
  .documents .cnt-doc .accordion-item .accordion-header .accordion-button {
    font-size: 10px;
  }
}
.documents .cnt-doc .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #EFE4CB;
  background-color: #C59F7B;
}
.documents .cnt-doc .accordion-item .accordion-body p strong,
.documents .cnt-doc .accordion-item .accordion-body span strong {
  font-weight: 800;
  color: #D08C60;
}
@media screen and (max-width: 480px) {
  .documents .cnt-doc .accordion-item .accordion-body p,
.documents .cnt-doc .accordion-item .accordion-body span {
    font-size: 11.5px;
  }
}
.documents .cnt-doc .accordion-item .accordion-body .list-body {
  margin-left: 5%;
}
.documents .cnt-doc .accordion-item .accordion-body .list-body span i {
  color: #D08C60;
  margin-right: 10px;
}
.documents .cnt-doc .accordion-item .accordion-body .list-body .name {
  font-weight: 800;
  color: #D08C60;
}
.documents .cnt-doc .accordion-item .accordion-body .list-body-two {
  margin: 1% 0% 0% 3%;
}
.documents .cnt-doc .accordion-item .accordion-body .list-body-two span i {
  color: #EFE4CB;
  margin-right: 10px;
}
.documents .cnt-doc .accordion-item .accordion-body .name-sec {
  margin-left: 5%;
  font-weight: 900;
  text-decoration: underline;
}

section h2,
section h3,
section h4,
section h5 {
  font-size: 45px;
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  section h2,
section h3,
section h4,
section h5 {
    font-size: 30px !important;
  }
}
@media screen and (max-width: 1024px) {
  section h2,
section h3,
section h4,
section h5 {
    font-size: 35px;
  }
}
section p {
  font-size: 18px;
}
section p strong {
  font-weight: 800;
}
section .btn {
  margin-top: 30px;
}

.int-sec {
  height: 850px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../img/fond/Fond - MayGarden.png");
}
.int-sec .cnt-sec,
.int-sec .cnt-sec-two {
  color: #E4E4E4;
}
.int-sec .cnt-sec {
  position: relative;
  margin: 5% 0% 0% 0%;
}
.int-sec .cnt-sec h1 {
  font-size: 60px;
}
@media screen and (max-width: 480px) {
  .int-sec .cnt-sec h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 480px) {
  .int-sec .cnt-sec {
    padding: 11% 0% 0% 0%;
  }
}
.int-sec .cnt-sec-two {
  text-align: end;
  margin: 45% 0% 0% 0%;
}
.int-sec .cnt-sec-two h2 {
  font-size: 60px;
}
@media screen and (max-width: 480px) {
  .int-sec .cnt-sec-two h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 780px) {
  .int-sec .cnt-sec-two {
    padding: 23% 0% 0% 0%;
  }
}
@media screen and (max-width: 1024px) {
  .int-sec .cnt-sec-two {
    margin: 63% 0% 0% 0%;
  }
}
@media screen and (max-width: 480px) {
  .int-sec {
    height: 580px;
  }
}

.services {
  padding: 5rem 0 5rem 0;
  background-color: #2D2926;
}
@media screen and (max-width: 480px) {
  .services {
    padding: 3rem 0 3rem 0;
  }
}
.services .cnt-serv ul {
  display: flex;
}
.services .cnt-serv ul li {
  margin-right: 15%;
  border-bottom: 1px solid #C59F7B;
}
.services .cnt-serv ul li a {
  text-decoration: none;
}
.services .cnt-serv ul li a .title-serv {
  padding: 20px 0px 20px 0px;
}
.services .cnt-serv ul li a .title-serv h5 {
  font-size: 21px;
  font-weight: 600;
  color: #E4E4E4;
  text-align: center;
  letter-spacing: 4.6px;
  text-transform: capitalize;
  font-family: "Antic Didone", serif;
}
@media screen and (max-width: 480px) {
  .services .cnt-serv ul li {
    border: none;
  }
}
@media screen and (max-width: 780px) {
  .services .cnt-serv ul li {
    margin-right: 8% !important;
  }
}
@media screen and (max-width: 1024px) {
  .services .cnt-serv ul li {
    margin-right: 12%;
  }
}
.services .cnt-serv ul .icon {
  text-align: center;
}
.services .cnt-serv ul .icon img {
  padding: 20px;
  border: 2px solid #D08C60;
}
@media screen and (max-width: 480px) {
  .services .cnt-serv ul {
    display: block;
  }
}

.spa {
  padding: 5rem 0 5rem 0;
  background-color: #EFE4CB;
}
@media screen and (max-width: 480px) {
  .spa {
    padding: 3rem 0 3rem 0;
  }
}
.spa .cnt-spa {
  padding: 20% 0% 20% 0%;
}
.spa .cnt-spa h3 {
  color: #C59F7B;
}
@media screen and (max-width: 1024px) {
  .spa .cnt-spa h3 {
    line-height: 50px;
  }
}
.spa .cnt-spa p {
  padding-right: 14%;
}
@media screen and (max-width: 480px) {
  .spa .cnt-spa p {
    padding: 0%;
  }
}
@media screen and (max-width: 480px) {
  .spa .cnt-spa {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 780px) {
  .spa .cnt-spa {
    padding: 0%;
  }
}
.spa .img-one {
  z-index: 8;
  position: relative;
}
@media screen and (max-width: 480px) {
  .spa .img-one img {
    padding-right: 13%;
  }
}
@media screen and (max-width: 1024px) {
  .spa .img-one img {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .spa .img-one {
    margin: 5% 0% 0% 0% !important;
  }
}
@media screen and (max-width: 780px) {
  .spa .img-one {
    margin-left: -11%;
  }
}
.spa .img-two {
  margin-top: -44px;
}
.spa .img-two img {
  text-align: end;
  padding: 0px 0px 0 35px;
}
@media screen and (max-width: 1024px) {
  .spa .img-two img {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .spa .img-two {
    margin: -5% 0% 0 0% !important;
  }
}
@media screen and (max-width: 780px) {
  .spa .img-two {
    margin: -5% -10% 0 9%;
  }
}
@media screen and (max-width: 1024px) {
  .spa .img-two {
    margin: -5% -6% 0 9%;
    padding: 0px;
  }
}
.spa .btn {
  width: 45%;
}
@media screen and (max-width: 480px) {
  .spa .btn {
    width: 100% !important;
    margin-top: 10px !important;
  }
}
@media screen and (max-width: 780px) {
  .spa .btn {
    width: 87%;
  }
}

.reservation {
  padding: 5rem 0 5rem 0;
  background-color: #2D2926;
}
@media screen and (max-width: 480px) {
  .reservation {
    padding: 3rem 0 3rem 0;
  }
}
.reservation .fond {
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(../img/contact/Reservation\ -\ MayGarden.png);
}
.reservation .fond .cnt-res-one {
  width: 45%;
  padding: 30px;
  margin: 5% 0 0 -4%;
  background-color: #2D2926;
}
.reservation .fond .cnt-res-one a {
  font-weight: 600;
  color: #D08C60;
  font-size: 35px;
  margin-left: -12%;
  text-decoration: none;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .reservation .fond .cnt-res-one a {
    margin-left: 0%;
  }
}
@media screen and (max-width: 780px) {
  .reservation .fond .cnt-res-one {
    width: 80% !important;
  }
}
@media screen and (max-width: 1024px) {
  .reservation .fond .cnt-res-one {
    width: 65%;
    margin: 5% 0 0 -2%;
  }
}
@media screen and (max-width: 480px) {
  .reservation .fond #cnt-res-one {
    width: 100% !important;
    margin: 15% 0 0 -3%;
  }
  .reservation .fond #cnt-res-one a {
    font-size: 22px;
  }
}
.reservation .fond .cnt-res-two {
  width: 45%;
  padding: 30px;
  margin: 25% 0% 0 65%;
  background-color: #2D2926;
}
.reservation .fond .cnt-res-two a {
  font-weight: 600;
  color: #D08C60;
  font-size: 35px;
  margin-left: 28%;
  text-decoration: none;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
@media screen and (max-width: 780px) {
  .reservation .fond .cnt-res-two a {
    margin-left: 11%;
  }
}
@media screen and (max-width: 1024px) {
  .reservation .fond .cnt-res-two a {
    margin-left: 18%;
  }
}
@media screen and (max-width: 780px) {
  .reservation .fond .cnt-res-two {
    margin: 54% 0% 0 38%;
  }
}
@media screen and (max-width: 1024px) {
  .reservation .fond .cnt-res-two {
    width: 65%;
    margin: 36% 0% 0 38%;
  }
}
@media screen and (max-width: 480px) {
  .reservation .fond #cnt-res-two {
    width: 100%;
    margin: 100% 0% 0 3%;
  }
  .reservation .fond #cnt-res-two a {
    font-size: 22px;
  }
}

.pres-boutique {
  padding: 5rem 0 5rem 0;
  background-color: #C59F7B;
}
@media screen and (max-width: 480px) {
  .pres-boutique {
    padding: 3rem 0 3rem 0;
  }
}
.pres-boutique .image img,
.pres-boutique .image-2 img {
  width: 100%;
}
.pres-boutique .image-2 {
  padding: 20px 0px 20px 0px;
}
@media screen and (max-width: 480px) {
  .pres-boutique .image-2 {
    padding: 0px;
  }
}
.pres-boutique .cnt-boutique {
  padding: 20px 0px 20px 0px;
}
.pres-boutique .cnt-boutique h3 {
  color: #EFE4CB;
  padding-top: 20px;
}
@media screen and (max-width: 1024px) {
  .pres-boutique .cnt-boutique h3 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .pres-boutique .cnt-boutique p {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 480px) {
  .pres-boutique .cnt-boutique .btn {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .pres-boutique .cnt-boutique {
    padding: 0px 0px 0px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
